<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="lazy8connectionstring"
     providerName="Microsoft.Data.SqlClient"
     connectionString="Server=(local);Database=master;Trusted_Connection=True;TrustServerCertificate=True" />
  </connectionStrings>
</configuration>